<h1>Welcome, <%= current_user.name %></h1>

<section id="user-info">
  <p>Basic Info</p>
  <table>
    <tr>
      <th>Phone Number</th>
      <th>Email Address</th>
    </tr>
    <tr>
      <td><%= current_user.phone %></td>
      <td><%= current_user.email %></td>
    </tr>
  </table>
</section>